env:
  DOCKER_COMPOSE_VERSION: 1.11.1

language: java

jdk:
  - oraclejdk8

sudo: required

services:
  - docker

before_install:
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin

script:
  - gradle clean dockerize
  - sudo docker-compose up -d
  - sudo docker ps -a
  - gradle -i -PintTest_selenium_server_url=http://127.0.0.1:4444 -PintTest_web_app_url=http://127.0.0.1:8080/ intTestFirefox

after_success:
  - docker push opencadc/storage

notifications:
  slack: 'dustinj:xoxp-19196234690-104316640387-143221994178-e87effff1f8b218eef9ed441dc38fa61#dustinj'
