/*
 * Sidebar
 */

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 768px) {
  body {
    padding-top: 85px;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

@media only screen and (max-width: 767px) {
  body {
    padding-top: 85px;
  }
}

@media only screen and (max-height: 767px) {
  div.dataTables_scrollBody {
    max-height: 42vh !important;
  }
}

@media only screen and (min-height: 768px) and (max-height: 1080px) {
  div.dataTables_scrollBody {
    max-height: 60vh !important;
  }
}

@media only screen and (min-height: 1081px) and (max-height: 1680px) {
  div.dataTables_scrollBody {
    max-height: 66vh !important;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin: 85px -21px 20px -20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.navbar.navbar-default {
  margin-bottom: 0px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  cursor: auto;
}

/*
 * End Sidebar
 */

/*
 * Navbar styles.
 */

span.select-info,
ul > li.divider-vertical {
  border-left: 1px solid #ccc;
}

.navbar-header
{
  margin-top: 25px;
}

.navbar-nav > li.alert {
  margin-bottom: inherit;
  padding: inherit;
}

.navbar-nav > li.alert > a {
  color: #fff;
}

div.progress {
  height: 0.8rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

div.quota {
  padding-left: 20px;
  font-style: italic;
}

div.beacon-progress {
  padding-top: 0;
  width: 100%;
}

div.beacon-progress.active {
  line-height: 15px;
  font-size: 90%;
}

/*
  Give enough height so that when the Delete button is enabled the table won't
  jump down.
  jenkinsd 2016.08.10
*/
div.beacon-info-row {
  height: 85px;
}

/*
 * End navbar.
 */

a.github-link {
  background: url("images/GitHub-Mark-32px.png") 24px 50% no-repeat;
}

a.docker-link {
  background: url("images/logo_docker.png") 20px 50% no-repeat;
}

a.social-link > span {
  padding-left: 46px;
}

label {
  font-weight: 700;
}

.dropdown-menu > li > a {
  cursor: pointer;
}

.navbar-nav > li > .dropdown-menu.download-dropdown-menu {
  margin-top: -5px;
  margin-left: -2px;
}

.public_link {
  font-style: italic;
}

button#more_details {
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0 4px;
}

#fileinfo {
  cursor: auto;
}

#uploader {
  display: block;
  text-align: right;
  height: auto;
  min-height: 30px;
  overflow: hidden;
}

.glyphicon.fast-right-spinner {
  -webkit-animation: glyphicon-spin-r 1s infinite linear;
  animation: glyphicon-spin-r 1s infinite linear;
}

.glyphicon-pencil {
  float: right;
  opacity: 0.5;
}

.glyphicon-pencil:hover {
  float: right;
  opacity: 1.0;
  cursor: pointer;
}

@-webkit-keyframes glyphicon-spin-r {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes glyphicon-spin-r {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

main.container {
  background: transparent !important;
}

input[type=url] {
  width: 100%;
}

/*
 *  DataTables
 */
div.dataTables_wrapper div.dataTables_info {
  padding-left: 20px;
  padding-top: 15px; /* Remove when progress bar re-instated. */
  white-space: nowrap;
  cursor: auto;
}

.popover {
  max-width: 500px;
}

button#more_details + .popover {
  left: 10px !important;
}

/* CSS for prompts */

.prompt-h3 {
  margin-top: 0;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
}

.fm-prompt {
  width: 650px;
}

.prompt-link {
  margin-top: 10px;
}

div.jqimessage div.col-sm-4 a {
  float: right;
}

section#main_section
{
  height: 90%;
}
