<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <!-- Here just for development. -->
    <context-param>
        <param-name>debug</param-name>
        <param-value>false</param-value>
    </context-param>

    <filter>
        <filter-name>WebAccessControlFilter</filter-name>
        <filter-class>ca.nrc.cadc.web.WebAccessControlFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>WebAccessControlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <load-on-startup>1</load-on-startup>
        <servlet-name>logControl</servlet-name>
        <servlet-class>ca.nrc.cadc.log.LogControlServlet</servlet-class>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>info</param-value>
        </init-param>
        <init-param>
            <param-name>logLevelPackages</param-name>
            <param-value>
                ca.nrc.cadc.beacon
                ca.nrc.cadc.vos
            </param-value>
        </init-param>
        <init-param>
            <param-name>logAccessGroup</param-name>
            <param-value>ivo://cadc.nrc.ca/gms?CADC</param-value>
        </init-param>
        <init-param>
            <param-name>groupAuthorizer</param-name>
            <param-value>ca.nrc.cadc.ac.client.GroupAuthorizer</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Restlet</servlet-name>
        <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>

        <init-param>
            <param-name>org.restlet.application</param-name>
            <param-value>net.canfar.CANFARStorageApplication</param-value>
        </init-param>

        <init-param>
            <param-name>org.restlet.clients</param-name>
            <param-value>HTTP FILE</param-value>
        </init-param>

        <init-param>
            <param-name>org.opencadc.vospace.service_id</param-name>
            <param-value>ivo://cadc.nrc.ca/vault</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>logControl</servlet-name>
        <url-pattern>/logControl</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/lib/*</url-pattern>
    </servlet-mapping>

    <!-- Application logic. -->
    <servlet-mapping>
        <servlet-name>Restlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jnlp</url-pattern>
    </servlet-mapping>

    <!-- Static files. -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/fonts/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/scripts/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/themes/*</url-pattern>
    </servlet-mapping>

</web-app>
